<form method="post" action="{{ path('app_admin_salon_delete', {'id': salon.id}) }}" onsubmit="return confirm('êtes vous sùr de vouloir supprimer ce salon?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ salon.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash"></i></button>
</form>
